# Ignorar archivos de configuración
*.config.js
*.config.json

# Ignorar archivos de caché
*.cache
.cache/

# Ignorar directorios de construcción
build/
dist/
node_modules/
coverage/

# Ignorar archivos específicos
src/someFolder/ignoreThisFile.js

# Ignorar archivos de prueba
**/*.test.js
**/*.spec.js

# Ignorar archivos de documentación
README.md
docs/
